* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(2, 0, 36);
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(9, 119, 121, 1) 50%, rgba(0, 212, 255, 1) 100%);
}

main {
    background-color: #f3f3f3;
    height: 600px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.titulo {
    font-size: 40px;
    color: #2d96f8;
    margin-bottom: 20px;
}

form {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.input {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    gap: 10px;
}

input {
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
}

.input-text {
    border-radius: 5px;
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
}

.btn-login {
    font-size: 20px;
    height: 40px;
    width: 200px;
    outline: none;
    border: none;
    color: #ffffff;
    background-color: #2d96f8;
    border-radius: 5px;
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
}

.btn-login:hover {
    background-color: #eecb96;
}